==
<div class="mailing-list-container">
    <button><i class="fa fa-close"></i></button>
</div>

<nav class="main">
    <ul class="nav-left">
        <li>
            <a class="branding" href="{{ 'home'|page }}">
                Na<span>v</span>is
                
                <small>
                    CSE: SUV
                </small>
            </a>
        </li>
    </ul>
    
    <ul class="nav-right nav-links">
        <li>
            <a href="{{ 'corporate'|page }}">Corporate</a>
        </li>
        
        <li>
            <a href="{{ 'properties'|page }}">Properties</a>
        </li>
        <li>
            <a href="{{ 'investors'|page }}">Investors</a>
        </li>
        <li>
            <a href="{{ 'contact'|page }}">Contact</a>
        </li>
        
        <li>
            <a href="#" class="nav-button mailing-list-toggle">Join Our Mailing List</a>
        </li>
    </ul>
</nav>